@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 19);
}


/* 여기부터는 상난 바 */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  position: relative;
  align-items: center;
}

.navbar-logo img {
  width: 200px;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  padding: 20px;
}

.navbar-menu a:hover {
  color: #1CB386;
}

@media (max-width: 360px) {
  .navbar-menu a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 414px) {
  .navbar-logo img {
    width: 150px;
  }

  .navbar-menu a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 769px) {
  .navbar {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media (min-width: 900px) {
  .navbar {
    padding-left: 16vw;
    padding-right: 16vw;
  }
}

@media (min-width: 1100px) {
  .navbar {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding-left: 23vw;
    padding-right: 23vw;
  }
}

@media (min-width: 1600px) {
  .navbar {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}

@media (min-width: 2400px) {
  .navbar {
    padding-left: 36vw;
    padding-right: 36vw;
  }
}

@media (min-width: 3300px) {
  .navbar {
    padding-left: 39vw;
    padding-right: 39vw;
  }
}



/* 여기부터는 소개 칸 */


#int {
    width: auto;
    height: auto;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* 수정: 가로 정렬 */
    padding-left: 00vw;
    padding-right: 00vw;
    clear: both;
    text-align: center;
    line-height: 1.5;
    color: white;
  }
  
  @media (max-width: 414px) {
    #int {
      font-size: 70%;
    }
  }

  .grid-container-wrapper {
    padding-bottom: 80px; /* footer의 높이만큼 padding-bottom을 추가하여 겹침 방지 */
    padding-left: 5px;
    padding-right: 5px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  .grid-item {
    width: 100%;
    height: auto;
  }

  .grid-item img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    /* 작은 화면에서는 2x2로 변경 */
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-container a {
    display: block;
    margin: 20px;
  }




  h1 {
    font-size: 4em;
}

.project {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    color: white;
    justify-content: center;
  

}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    align-items: center;
}

#lf {
    text-align: left;
}


 
  @media (max-width: 500px) {
    .project{
      padding-left: 0px;
      padding-right: 0px;
      padding: 1px;
      margin: 2px;

 } 
    #lf {
      font-size: 70%;
 }
  }

  @media (min-width: 769px) {
    .project{
      padding-left: 13vw;
     padding-right: 13vw;
 } 
  }
  
  @media (min-width: 900px) {
    .project{
      padding-left: 15vw;
     padding-right: 15vw;
 } 
  }
  
  @media (min-width: 1100px) {
    .project{
      padding-left: 19vw;
     padding-right: 19vw;
 } 
  }
  
  @media (min-width: 1200px) {
    .project{
      padding-left: 22vw;
     padding-right: 22vw;
 } 
  }
  
  @media (min-width: 1600px) {
    .project{
      padding-left: 28vw;
     padding-right: 28vw;
 } 
  }

  @media (min-width: 2000px) {
      .project{
        padding-left: 30vw;
       padding-right: 30vw;
   } 
  }
  
  @media (min-width: 2400px) {
    .project{
      padding-left: 35vw;
     padding-right: 35vw;
 } 
  }
  
  @media (min-width: 3300px) {
    .project{
      padding-left: 38vw;
     padding-right: 38vw;
 } 
  }






  /* 여기부터는 푸터 */


    footer {
    background-color: #1b1b1b;
    padding: 20px;
    color: white;
    clear: both
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }